POSTGRES_USER=pedidos_user
POSTGRES_PASSWORD=CHANGE_ME
REDIS_PASSWORD=CHANGE_ME
RABBITMQ_DEFAULT_USER=CHANGE_ME
RABBITMQ_DEFAULT_PASS=CHANGE_ME
JWT_SECRET=CHANGE_ME
API_KEY=CHANGE_ME
GRAFANA_ADMIN_PASSWORD=CHANGE_ME
